In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("D:\project\Sleep_health_and_lifestyle_dataset.csv")

In [3]:
df.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Person ID                374 non-null    int64
 1   Gender                   374 non-null    object
 2   Age                      374 non-null    int64
 3   Occupation               374 non-null    object
 4   Sleep Duration           374 non-null    float64
 5   Quality of Sleep         374 non-null    int64
 6   Physical Activity Level  374 non-null    int64
 7   Stress Level             374 non-null    int64
 8   BMI Category             374 non-null    object
 9   Blood Pressure           374 non-null    object
 10  Heart Rate               374 non-null    int64
 11  Daily Steps              374 non-null    int64
 12  Sleep Disorder           155 non-null    object
dtypes: float64(1), int64(7), object(5)
memory usage: 38.1+ KB

In [5]:
df.isnull().sum()

Person ID                    0
Gender                       0
Age                          0
Occupation                   0
Sleep Duration               0
Quality of Sleep             0
Physical Activity Level      0
Stress Level                 0
BMI Category                 0
Blood Pressure               0
Heart Rate                   0
Daily Steps                  0
Sleep Disorder             219
dtype: int64

In [6]:
df['Sleep Disorder'] = df['Sleep Disorder'].fillna(0)

In [7]:
df.isnull().sum()

Person ID                  0
Gender                     0
Age                        0
Occupation                 0
Sleep Duration             0
Quality of Sleep           0
Physical Activity Level    0
Stress Level               0
BMI Category               0
Blood Pressure             0
Heart Rate                 0
Daily Steps                0
Sleep Disorder             0
dtype: int64

In [8]:
df.shape

(374, 13)

In [9]:
df[['Systolic', 'Diastolic']] = df['Blood Pressure'].str.split('/', expand=True)
df['Systolic'] = df['Systolic'].astype(int)
df['Diastolic'] = df['Diastolic'].astype(int)

In [10]:
df.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder,Systolic,Diastolic
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,0,126,83
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,0,125,80
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,0,125,80
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea,140,90
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea,140,90

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Person ID                374 non-null    int64
 1   Gender                   374 non-null    object
 2   Age                      374 non-null    int64
 3   Occupation               374 non-null    object
 4   Sleep Duration           374 non-null    float64
 5   Quality of Sleep         374 non-null    int64
 6   Physical Activity Level  374 non-null    int64
 7   Stress Level             374 non-null    int64
 8   BMI Category             374 non-null    object
 9   Blood Pressure           374 non-null    object
 10  Heart Rate               374 non-null    int64
 11  Daily Steps              374 non-null    int64
 12  Sleep Disorder           374 non-null    object
 13  Systolic                 374 non-null    int64
 14  Diastolic                374 non-null    int64
dtypes: float64(1), int64(9), object(5)
memory usage: 44.0+ KB

In [36]:
df.rename(columns={'Person ID': 'Person_ID'}, inplace=True)
df.rename(columns={'Sleep Duration': 'Sleep_Duration'}, inplace=True)
df.rename(columns={'Quality of Sleep': 'Quality_Sleep'}, inplace=True)
df.rename(columns={'Physical Activity Level': 'PhysicalActivity_Level'}, inplace=True)
df.rename(columns={'Stress Level': 'Stress_Level'}, inplace=True)
df.rename(columns={'BMI Category': 'BMI_Category'}, inplace=True)
df.rename(columns={'Blood Pressure': 'Blood_Pressure'}, inplace=True)
df.rename(columns={'Heart Rate': 'Heart_Rate'}, inplace=True)
df.rename(columns={'Daily Steps': 'Daily_Steps'}, inplace=True)
df.rename(columns={'Sleep Disorder': 'Sleep_Disorder'}, inplace=True)

In [38]:
print(df.columns.tolist())

['Person_ID', 'Gender', 'Age', 'Occupation', 'Sleep_Duration', 'Quality_Sleep', 'PhysicalActivity_Level', 'Stress_Level', 'BMI_Category', 'Blood_Pressure', 'Heart_Rate', 'Daily_Steps', 'Sleep_Disorder', 'Systolic', 'Diastolic']

In [37]:
df.head(2)

,Person_ID,Gender,Age,Occupation,Sleep_Duration,Quality_Sleep,PhysicalActivity_Level,Stress_Level,BMI_Category,Blood_Pressure,Heart_Rate,Daily_Steps,Sleep_Disorder,Systolic,Diastolic
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,0,126,83
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,0,125,80

In [41]:
import pymysql

In [42]:
connection = pymysql.connect(
        host='localhost',
        user='root',
        password='DataScience@12',
        database="sleeping",
        port=3306
    )
cursor=connection.cursor()

In [46]:
create_table='''create table if not exists df(Person_ID int,
                                            Gender text,
                                            Age int,
                                            Occupation text,
                                            Sleep_Duration float,
                                            Quality_Sleep int,
                                            PhysicalActivity_Level int,
                                            Stress_Level int,
                                            BMI_Category text,
                                            Blood_Pressure text,
                                            Heart_Rate int,
                                            Daily_Steps int,
                                            Sleep_Disorder text,
                                            Systolic int,
                                            Diastolic int)'''
cursor.execute(create_table)
connection.commit()
for index, row in df.iterrows():
    insert_table='''INSERT INTO df(Person_ID, Gender, Age, Occupation, Sleep_Duration, 
                            Quality_Sleep, PhysicalActivity_Level, Stress_Level, BMI_Category, 
                            Blood_Pressure, Heart_Rate, Daily_Steps, Sleep_Disorder, Systolic, Diastolic) values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'''
    values=(row['Person_ID'], row['Gender'],row['Age'],row['Occupation'],row['Sleep_Duration'], row['Quality_Sleep'],row['PhysicalActivity_Level'],row['Stress_Level'],
                    row['BMI_Category'], row['Blood_Pressure'],row['Heart_Rate'],row['Daily_Steps'],row['Sleep_Disorder'],row['Systolic'], row['Diastolic'])
    cursor.execute(insert_table, values)
    connection.commit()

In [39]:
print(df.columns.tolist())

['Person_ID', 'Gender', 'Age', 'Occupation', 'Sleep_Duration', 'Quality_Sleep', 'PhysicalActivity_Level', 'Stress_Level', 'BMI_Category', 'Blood_Pressure', 'Heart_Rate', 'Daily_Steps', 'Sleep_Disorder', 'Systolic', 'Diastolic']

In [14]:
len(df.columns)

15